---
import type { Map } from '../domain/types';

interface Props {
  map: Map;
}

const { map } = Astro.props;
---

<a
  href={`/${map.slug}`}
  class="group border-secondary-sand/60 bg-canvas relative h-full overflow-hidden rounded-xl border shadow-lg"
  data-testid="map-card"
>
  <h2
    class="text-primary-navy group-hover:text-primary-brown absolute z-10 text-lg font-semibold"
  >
    {map.title}
  </h2>
  <img
    src={map.image.src}
    alt={map.title}
    class="h-full w-full object-contain transition-transform duration-600 group-hover:scale-140"
    loading="eager"
    width={map.image.width}
    height={map.image.height}
  />
</a>
